@mixin headings($font_size, $line, $font : 700){
    font-size: $font_size;
    line-height: $line;
    font-weight: $font;
}

@mixin btnColor($color, $bgColor) {
  color: $color;
  background-color: $bgColor;
}

@mixin border($width: 1px, $color: red) {
  border: solid $width $color;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}