@mixin btnColor($color, $bgColor) {
  color: $color;
  background-color: $bgColor;
}

@mixin border($width: 1px, $color: red) {
  border: solid $width $color;
}

// =======================================

button {
  @include btnColor(var(--clr-btn-white), var(--clr-btn-purple));
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: var(--clr-btn-hover);
  }

  &:active {
    padding: 8px 20px;
  }

  &.btn--outline {
    @include border(1px, var(--clr-btn-purple));
    @include btnColor(var(--clr-btn-purple), transparent);

    &:hover {
      border-color: transparent;
      @include btnColor(var(--clr-btn-white), var(--clr-btn-purple));
    }
  }

  &.btn--small {
    padding: 8px 12px;
  }
}

