button {
  @include btnColor($color--btn-white, $color--btn-purple);
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  padding: 12px 24px;
  transition: 0.3s;

  &:hover {
    background-color: $color--btn-hover;
  }

  &:active {
    padding: 8px 20px;
  }

  &.btn--outline {
    @include border(1px, $color--btn-purple);
    @include btnColor($color--btn-purple, transparent);

    &:hover {
      border-color: transparent;
      @include btnColor($color--btn-white, $color--btn-purple);
    }
  }

  &.btn--small {
    padding: 8px 12px;
  }
}

