.card {
  display: inline-block;
  padding: 24px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.card-stats {
  min-width: 150px;

  .card-title {
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 2.4rem;
      font-weight: 600;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .card {
    padding: 16px;
  }
  .card-stats {
    .card-title {
      font-size: 1.4rem;
      margin-bottom: 15px;
    }
    .card-content {
      span {
        font-size: 1.8rem;
      }
    }
  }
}