form {
  .field {
    min-width: 350px;
    width: 100%;
    margin-bottom: 20px;
  }

  .field-container {
    display: flex;
    gap: 45px;
  }

  label {
    padding-bottom: 5px;
    font-size: 13px;
  }

  input {
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    outline: 0;

    &:focus {
      color: var(--clr-primary-purple);
      border-color: var(--clr-primary-purple);
      font-weight: 500;
    }

    &::placeholder {
      color: var(--clr-primary-light-grey);
    }
  }

  button {
    margin-top: 25px;
  }
}