.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 95%;
  padding: 30px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal-header h2 {
  font-size: 20px;
  font-weight: bold;
}

.modal-header button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--clr-primary-dark);
  background-color: transparent;
}

.modal-body {
  font-size: 16px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.modal-footer button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}