$colors: (
        primary: (
                "purple": #7D50E1,
                "dark": #26262C,
                "light-grey": #F4F4F4,
        ),
        btn: (
                "purple": #7D50E1,
                "hover": #6238c0,
                "white": #ffffff,
        ),
);