$colors: (
        primary: (
                "purple": #7D50E1,
                "dark": #26262C,
                "light-grey": #F4F4F4,
                "border": rgba(0, 0, 0, 0.1),
                "white": #ffffff,
                "error": #F44336,
        ),
        btn: (
                "purple": #7D50E1,
                "hover": #6238c0,
                "white": #ffffff,
        ),
);