@use "../abstracts" as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* * * * * * * * *
  * Colors
  * * * * * * * * * */
  @each $color, $shade-map in $colors {
    @each $shade, $value in $shade-map {
      --clr-#{$color}-#{$shade} : #{$value};
    }
  }
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--clr-primary-dark);
}

html {
  font-size: 62.5%;
}

#App {
  //display: flex;
  //flex-direction: row;
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: var(--clr-primary-light-grey);
}

.pages {
  width: calc(100% - 250px);
  min-height: 100vh;
  position: relative;
  left: 250px;
}