@use "../abstracts" as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* * * * * * * * *
  * Colors
  * * * * * * * * * */
  @each $color, $shade-map in $colors {
    @each $shade, $value in $shade-map {
      --clr-#{$color}-#{$shade} : #{$value};
    }
  }
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

#App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: min(90%, 1440px);
  margin-inline: auto;
  font-size: 1.6rem;
}

.pages {
  width: 100%;
  min-height: 100vh;
}
